<mat-toolbar color="primary">
  <span>Painel de Administração</span>
  <span class="spacer"></span>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>
<nav>
  <a mat-button routerLink="/admin/validate-restaurants">Validar Restaurantes</a>
  <a mat-button routerLink="/admin/users">Utilizadores</a>
</nav>
<router-outlet></router-outlet>
<div *ngIf="pendingRestaurants.length > 0">
  <h3>Restaurantes Pendentes de Validação</h3>
  <ul>
    <li *ngFor="let r of pendingRestaurants">
      {{ r.name }} - {{ r.email }}
      <!-- Adiciona botão para validar se necessário -->
    </li>
  </ul>
</div>
<div *ngIf="pendingRestaurantUsers.length > 0">
  <h3>Pedidos de Utilizador para Restaurante</h3>
  <ul>
    <li *ngFor="let u of pendingRestaurantUsers">
      {{ u.username }} - {{ u.email }}
      <button mat-button color="primary" (click)="approveRestaurantUser(u._id)">Aprovar</button>
      <button mat-button color="warn" (click)="rejectRestaurantUser(u._id)">Rejeitar</button>
    </li>
  </ul>
</div>