<app-filters-panel
  [categories]="categories"
  (filtersChanged)="onFiltersChanged($event)">
</app-filters-panel>

<div *ngIf="loading">A carregar menus...</div>
<div *ngIf="error">{{ error }}</div>

<a routerLink="/add-menu">Adicionar menu</a>

<ul>
  <li *ngFor="let menu of filteredMenus()">
    <b>{{ menu.category }}</b>
    <ul>
      <li *ngFor="let itemId of menu.items">
        <ng-container *ngIf="getDish(itemId) as dish">
          {{ dish.name }} - {{ dish.price | currency:'EUR':'symbol':'1.2-2' }}
        </ng-container>
      </li>
    </ul>
    <a [routerLink]="['/menus', menu.id]">Detalhes</a>
    <a [routerLink]="['/edit-menu', menu.id]">Editar</a>
  </li>
</ul>